body{
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);

}

@page {
margin: 0.5cm;
margin-left: 1cm;
margin-right: 1cm;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(https://fonts.googleapis.com/css?family=Montserrat);
}

@font-face {
    font-family: texygerosbold;
    src: url(fonts/texgyreheros-bold.otf);
}

@font-face {
    font-family: lato;
    src: url(fonts/Lato-Hairline.otf);
}

@font-face {
    font-family: texygerosregular;
    src: url(fonts/texgyreheros-regular.otf);
}

@font-face{
  src: url(https://fonts.googleapis.com/css?family=Merriweather);
  font-family: 'Merriweather', serif;
}

#page {
  display: flex;
  flex-flow: row wrap;
  width: 1000px;
  margin: 0 auto 0 auto;
  font-family: 'Montserrat';

}

#header {
  width: 100%;
  font-size:65px;
  text-align: center;
  font-family: texygerosbold;
}

#aside {
  flex: 1;
  padding-right: 30px;
  text-align:right;
}

#main {
  flex: 3;
  text-align:left;
}

#content {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}


h1{
  font-size: 33px;
  margin:0px;
  font-family: 'Merriweather';
}

#aside .entry h1{
  font-size: 23px;
}

.entry{
  margin-bottom: 15px;
  margin-top:10px;
}

.entry h2{
  font-size:20px;
  margin:0px;
  font-family: 'Merriweather';
}

.entry h3{
  font-size:15px;
  margin:0px;
  color: rgba(0, 0, 0, 0.70);
}

p{
  color: rgba(0, 0, 0, 0.80);
  font-family: texygerosregular;
  margin: 0px;
}

#main p{
  text-align: justify;
}
